.first-part{
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img {
    height: 400px;
    box-sizing: border-box;
    width: 400px;
  border-radius: 300px;
  opacity: 0.95;
  
}
.first-inner-container{

      font-family: "helvetica";
    
    font-size: 20px;
    
    width: 50vw;
    box-sizing: border-box;
}

.back{
    background-image: linear-gradient(to top , white,rgb(198, 212, 244), rgb(154, 214, 252) );
    height: 100vh;
}

@media ( max-width:600px) {
    .first-inner-container{
    font-size: 10px;
    }

    img{
        height: 200px;
        width: 200px;
    }
}


.second-inner-container{
    margin-top: 30px;
     font-family: "helvetica";
    background-color: rgb(223, 249, 255);
    font-size: 30px;
    padding-top: 100px;
    box-sizing: border-box;
}


.second-head{
   

}

.second-para{
    text-align: center;
    
}


.third-para{
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.third{
    margin: 5px;
}

.third-head{
    margin-top: -90px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


.skills-container {
    padding: 50px;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
  }
  
  .skills-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 60px;
    color: #333;
  }
  
  .skills-list {
    display: flex; 
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center;
    padding: 0;
   
    margin: 0;
    list-style: none;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #90e7f7;
    border-radius: 8px;
    color: #000000;
    text-align: center;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  }
  
  .skill-item:hover {
    transform: translateY(-5px);
    background-color: #246dba;
  }
  
  .skill-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .skill-name {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-left: 30px;
    box-sizing: border-box;
  }
  





  .typig-effect{
    
      display: inline-block;
      overflow: hidden;
      border-right: 2px solid black; 
      border-width: 18px;
      white-space: nowrap;
      font-size:50px;
      letter-spacing: 2px;
      animation: typing 4s steps(20) forwards, blink 1s step-end infinite;
    }
    @keyframes typing {
      from {
          width: 0;
      }
      to {
          width: 22ch; 
      }
  }
  @keyframes blink {
    50% {
        border-width: 18px;
        border-color: #b4d8f1;
    }
  }






 p{
   
    animation: fadeIn 1.5s ;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translatex(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1,div{
    animation: k 1.5s;

  }

  @keyframes k {
    from{
      opacity: 0.8;
      transform: translatey(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  

  