.name-section{
    padding: 20px;
    padding-top: 0px;
    display: flex;
    justify-content: start;
}

.span{
    font-size: 40px;
}

.name{
    font-size: 24px;
}

.role{
    padding-top: 29px;
    padding-left: 10px;
}

.logo{
    height: 100px;
}

.navigation-bar{
    position:fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to top right, red, yellow, green, blue);


}