

.navigation-bar{
    position:relative;
    top: 0;
     padding: 20px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30PX;
    display: flex;
    width: 100vw;
    background-image: linear-gradient(to right top, rgb(154, 214, 252) ,rgb(203, 229, 255), rgb(245, 233, 207));
    box-sizing:border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;}

.inner-options{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.link p:hover{

    font-size:15px;
    color: rgb(231, 171, 252);
    cursor: pointer;
    
}

p{
    padding-right: 30px;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.Portfolio{
    position: relative;
    margin-top: -10px;
    font-family: Rubik Dirt, cursive;
    font-size: 16px;
}

*{
    margin:0px;
    padding: 0PX;
}