.body{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 50vh;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

footer{
    display: flex;
    justify-content: center;
    position: relative;
    width:100%;
    height: 100px;
    background-color: rgb(135, 181, 255);

    background-image: linear-gradient(to top,rgb(87, 109, 250),rgb(141, 183, 252));
    padding: 30px 50px;
}

.c{
  
  

}

.c:hover{
    transform: translateY(-10px);
}

.wave{
    width: 100%;
    height: 360px;
 
    position: absolute;
    background: url('https://res.cloudinary.com/dosqewmuo/image/upload/v1737395516/wave_aymzfy.png');
    animation: animateWave 3.5s linear infinite;
    background-size: 1000px 130px;
    opacity: 0.58;

}

@keyframes animateWave {
    0%{
        background-position-x:1000px ;
    }
    100%{
        background-position-x:0px ;
    }
}


.link{
    padding-left: 20px;
}


.h{

   width: 100%;
   color: rgb(82, 82, 82);
   font-size: 14px;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
  font-weight: none;
    font-family: Arial, sans-serif;

}